* {
    padding: 0;
    margin: 0;
}

/* PAGES WxH*/
.About {
    width: 100%;
    height: 20vh;
}

.Skills {
    width: 100%;
    height: 12vh;
}

.Education {
    width: 100%;
    height: 30vh;
}

.Projects {
    width: 100%;
    height: 50vh;
}

.Contacts {
    width: 100%;
    height: vh;
}

/* PAGES CONTAINER */
.container {
    padding: 5rem 33%;
}

/* ABOUT ME STYLE CONTAINER */
.header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.header-section {}

.intro-section {}

/* EDUCATION ATTAINMENT STYLE CONTAINER */

.edu-grid {
    margin-bottom: 1rem;
}

.edu-level {
    font-weight: bold;
    font-size: 1.2rem;
}

.school-name {
    font-size: 1rem;
}

.school-year {
    font-weight: bolder;
}

/* DEVELOPMENT SKILLS STYLE CONTAINER */
.skills-grid-container {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.skills-grid {
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
    border-radius: 15px;
    transition: all ease .1s;
}

.skills-grid:hover {
    transform: scale(1.1);
    transition: all ease .1s;
}

.skill-name {
    font-weight: bolder;
    font-size: 0.8rem;
}

.skill-info {
    font-size: 0.8rem;
}

.skill-percentage {
    font-size: 0.65rem;
}

/* PROJECTS DEPLOYED STYLE CONTAINER */
.proj-grid-container {
    gap: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.proj-grids {}

.project-name {}

.project-images {
    display: none;
    width: 80%;
    height: auto;
    margin: 1rem;
}

.project-images.active {
    display: block;
}

.project-info {}

/* CONTACT INFORMATION STLYE CONTAINER */
.contact-grid-container {
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-grid-container i {
    font-size: 2rem;
    color: black;
    transition: all ease 0.1s;
}

.contact-grid-container i:hover {
    transform: scale(1.1);
    transition: all ease 0.1s;
}
